.menu {
  display: inline-block;
  width: 32px;
  height: 28px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-top: 7px;
  margin-left: 30px;
}

.menu-line-top,
.menu-line-middle,
.menu-line-bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: rgb(128, 83, 0);
  position: absolute;
  transition: 0.5s;
}

.menu-line-top {
  top: 0;
}

.menu-line-middle {
  top: 12px;
}

.menu-line-bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.drawer-nav {
  display: block;
  position: absolute;
  height: 100vh;
  width: 110%;
  top: 0;
  left: -120%;
  background: #fff;
  transition: .7s;
  justify-content: center;
}

.drawer-nav-list {
  padding-top: 80px;
  text-align: center;
}

.drawer-nav-item {
  margin-top: 40px;
  color: #0033cc;
  font-size: 18px;
}

.in {
  transform: translateX(100%);
}

.modal__content-inner {
  width: 90%;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.header nav {
  display: flex;
}

.rese_content {
  display: flex;
}

.rese_img {
  padding: 5px 10px 0 0;
  width: 45px;
  height: 45px;
}

.header h1 {
  padding: 5px 0 0 0;
  font-size: 34px;
  color: rgb(128, 83, 0);
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 10px;
}

.login {
  white-space: nowrap;
}

.user_name {
  font-size: 10px;
  padding: 14px 0 0;
}

.search_img_btn {
  margin-top: 6px;
  display: none;
}

.search_menu {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  white-space: nowrap;
}

.search_menu ul {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
}

.search_menu li {
  padding-left: 10px;
}

.search_menu select {
  border: none;
  border-right: 1px solid #cdcdcd;
  text-align:center;
}

.search_img {
  width: 15px;
  height: 15px;
  margin-bottom: 8px;
}

.search_menu input[type=text] {
  border: 1px solid #cdcdcd;
}

@media screen and (max-width : 768px) {
  .header {
    width: 100%;
    padding: 20px 20px 0 20px;
  }

  .search_img_btn {
    display: block;
    width: 30px;
    height: 30px;
  }

  .search_menu {
    display: none;
    position: absolute;
    border: 4px solid orange;
  }

  .search_menu ul {
    display: block;
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .search_menu li {
    font-size: 20px;
    padding: 5px 10px;
  }

  .search_menu li:first-child {
    padding-top: 20px;
  }

  .search_menu li:last-child {
    padding-bottom: 20px;
  }

  .search_menu select {
    border: 1px solid gray;
    text-align: center;
    padding: 4px 0;
    width: 280px;
    border-radius: 6px;
  }

  .search_img {
    width: 24px;
    height: 24px;
  }

  .search__ input{
    border-radius: 6px;
    width: 185px;
  }
}