section {
  margin: 30px auto;
  width: 80%;
}

.title {
  font-size: 24px;
  padding-bottom: 40px;
}

.qr_tbl {
  font-size: 20px;
}

.qr_tbl tr {
  height: 40px;
}

.qr_tbl th {
  text-align: right;
}

.qr_btn_td {
  padding-top: 15px;
  text-align: center;
}

.qr_btn {
  background-color: orange;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
}

.qr_btn_td p{
  color: red;
  border: 1px solid #cdcdcd;
  padding: 5px 20px;
  border-radius: 6px;
}

@media screen and (max-width : 768px) {
  .title {
    text-align: center;
  }

  .qr_tbl {
    margin: 0 auto;
  }
}